<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

# Professoras

 - Amanda Lemette 
	 - prof.amanda@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/amanda-lemette-brand%C3%A3o-83280918b)
   - [Youtube](https://www.youtube.com/c/AmandaLemette/featured)
   
 - Júlia Potratz
	 - prof.julia@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/julia-potratz)

- Manoela Koehler
     - prof.manoela@ica.ele.puc-rio.br
     - [Linkedin](https://www.linkedin.com/in/manoelakohler/)

     
# Material 

Repositório no GitHub: [Python_BI_Master](https://github.com/jupotratz/Python_BI_Master)

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

# Adição de nova linha no DataFrame

Na nossa aula, vimos como se faz a adição de nova linha no DataFrame utilizando o comando .loc(). Nas imagens a seguir, podemos ver outras duas estratégias possíveis para fazer a mesma ação.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/d87e3b0470a04634494dc2cbda96c513305a4f21/Imagens/dic_append.png?raw=true"  width=700 height=400 />

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/61cb179eaae97a395b2b870814d80fe7650f04c2/Imagens/DF_append.png?raw=true"  width=800 height=400 />

O *ignore_index=True* irá ignorar o index do novo dataframe e atribuir-lhes um novo índice no dataframe original.

# Atividade 1

Dado o DataFrame a seguir, escolha uma das abordagens mostradas acima para resolver os próximos itens.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Nome':['Robby','Pipoca','Milho','Zulu','Arroz'],'Idade':[5,1,1,3,8],'Animal':['cachorro','papagaio','gato','cachorro','jabuti']})

In [ ]:
df

- Acrescente a seguinte informação ao dataframe df:



```
[Azevedo,4,gato]
[Omar, 10, cachorro]
```

- Acrescente uma nova linha em df utilizando o LOC:



```
[Pituca, 12, cachorro]
```

# Atividade 2

Dado o dataframe df (mesmo do exercicio anterior), responda os itens a seguir.

In [4]:
df

     Nome  Idade    Animal
0   Robby      5  cachorro
1  Pipoca      1  papagaio
2   Milho      1      gato
3    Zulu      3  cachorro
4   Arroz      8    jabuti

- Imprima a palavra papagaio de df.

- Imprima a linha com índice 1 de df.

- Ordene em ordem crescente por idade o dataframe df.

- Atualize os índices de df após a ordenação eliminando os índices antigos.

- Troque a coluna de índices de df por:



```
[linha 0, linha 1, linha 2, ...]
```

- Utilizando loc, imprima a palavra jabuti de df.

- Acrescente a coluna Vacinação em dia em df. Forneça as respostas para cada animal conforme sua escolha, as respostas devem ser:



1.   SIM
2.   NAO

- Ordene as colunas de df na seguinte ordem:



```
Nome - Vacinação em dia - Animal - Idade
```

# Atividade 3

Desenvolva uma função que receba dois números como variáveis de entrada. Essa função irá retornar a informação de que o primeiro número é ou não é múltiplo do segundo número através de: 
- True 
- False
Exemplo:

```
Verifica(10,2)
>>  TRUE
```

# Atividade 4

Em relação à função da atividade 3, modifique essa função de modo que se o número 1 for múltiplo do segundo número, a função além de retornar TRUE ela irá retornar o resultado da operação do número 1 dividido pelo número 2.

# Atividade 5

Atualize mais uma vez a função da atividade 4, acrescentando a informação de que se o número não for múltiplo, a função irá retornar FALSE e também o resultado do num1 / num2 que não será um número inteiro.

# Atividade 6

Retorne à função desenvolvida na atividade 3 e a reescreva como função anônima.

# Atividade 7

Uma clínica de dermatologia está iniciando o cadastro de clientes. Nesse cadastro, as seguintes informações são salvas:

- Nome completo
- Idade
- Bairro residencial
- Celular
- CPF

Desenvolva um programa que intereja com o usuário de modo a guardar essas informações automaticamente.