<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Professoras

 - Amanda Lemette 
	 - prof.amanda@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/amanda-lemette-brand%C3%A3o-83280918b)
   - [Youtube](https://www.youtube.com/c/AmandaLemette/featured)
   
 - Júlia Potratz
	 - prof.julia@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/julia-potratz)

- Manoela Koehler
     - prof.manoela@ica.ele.puc-rio.br
     - [Linkedin](https://www.linkedin.com/in/manoelakohler/)

     
# Material 

Repositório no GitHub: [Python_BI_Master](https://github.com/jupotratz/Python_BI_Master)

# Aula 5


- **Plano de aula:**
  - Revisão sobre montagem de drive
  - Leitura de arquivo externo
  - Salvamento de arquivo
  - Como lidar com dados faltantes?
    - identificar NaN
    - substituir NaN
    - eliminar NaN
  - Categorização de dados
  - Gráficos:
    - pizza
    - histograma
  - Aplicar funções em colunas do dataframe:
    - map
    - apply
    - applymap
  - Exercício: 
    - ler um arquivo, 
    - tratar os dados faltantes, 
    - fazer transformação e 
    - gerar um gráfico

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Leitura de base de dados .csv

Para fazer a leitura de uma base de dados, primeiro precisamos adicionar essa base de dados em nossa pasta *Colab Notebooks* do nosso Google Drive.

A base de dados que vamos utilizar é sobre resultados de partidas de futebol de 1872 a 2021. A base de dados se chama *results.csv* e foi retirada do site [Kaggle](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017).

Como segundo passo, precisamos fazer a montagem do Drive, possibilitando o acesso aos arquivos do seu Google Drive pessoal pelo Google Colaboratory.

Se você não lembra como executar esse procedimento, sugiro retornar à *aula 01* onde tem uma explicação detalhada sobre o que fazer.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importar a biblioteca os
import os

# Utilizando a função .chdir()
os.chdir('drive/MyDrive/Colab Notebooks')

In [ ]:
!ls

Pronto! Agora conseguimos acessar qualquer documento armazenado na sua pasta Colab Notebooks por aqui.

<center><img src="https://github.com/amandalemette/images/blob/98b4d25f675a2488593570b6f0313a96ebf8d5c8/BiMaster/goofyhappy.jpg?raw=true"  width=250 height=400 />

A base de dados *results.csv* inclui dados de 40838 resultados de partidas de futebol começando em 1872 até 2021. Os dados não incluem jogos olímpicos. 

Colunas de dados incluem:

- data – dia da partida
- time da casa
- time convidado
- pontuação do time da casa
- pontuação do time convidado
- classificação do torneio
- cidade onde ocorreu a partida
- país onde ocorreu a partida
- neutro - TRUE/FALSE Coluna indicando se a partida foi feita em um local neutro

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('results.csv')

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Lidando com NaN

## Identificação de NaN

Em python, identificamos a existência ou não de dados faltantes pelos seguintes métodos:
- [.isna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)
- [.notna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.notna.html)
- [.info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)
- [isna().any()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.any.html)
- [isnull()](https://pandas.pydata.org/docs/reference/api/pandas.isnull.html)

## Substituição de NaN

Para substituir dados faltantes, podemos utilizar:

- [replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)
- [fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

## Eliminação de NaN

Para eliminar dados faltantes, podemos fazer uso de:
- [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)
- [dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

## Exercício

Dado o DataFrame a seguir, 
- Identifique em quais linhas existem dados faltantes e imprima essas linhas
- Substitua os dados faltantes da coluna 'A' pela média dos números dessa coluna.
- Substitua os dados faltantes da coluna 'C' pela moda dessa coluna. 
- Delete os dados faltantes da coluna 'B' (eliminando as correspondentes linhas e mantendo a coluna 'B').

In [ ]:
dc = {'A':[16,21,22,np.nan, 19,16,18,19,np.nan,18,16,21],'B':[45,65,np.nan,32,12,25,  56,27,19, 10,54,42],'C':['SIM','SIM','SIM','NAO',np.nan,'NAO SEI','SIM',np.nan,'NAO SEI','NAO SEI',np.nan,'SIM']}

In [ ]:
DF = pd.DataFrame(dc)

- Identifique em quais linhas existem dados faltantes e imprima essas linhas

- Substitua os dados faltantes da coluna 'A' pela média dos números dessa coluna.

- Substitua os dados faltantes da coluna 'C' pela moda dessa coluna.

- Delete os dados faltantes da coluna 'B' (eliminando as correspondentes linhas e mantendo a coluna 'B').

Como a única coluna agora que continua com dados faltantes é a coluna B, podemos usar direto o:


```
DF.dropna()
```
Mas e se quisermos deletar os dados faltantes de uma coluna do dataframe considerando que existem outros NaN em outras colunas desse DataFrame, como fazer?

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Manipulação de DataFrame

Podemos criar uma nova coluna informando quem ganhou a partida. Para isso, podemos adotar a seguinte notação: 

- Empate: recebe o número 0
- Home_team: recebe o número 1
- Away_team: recebe o número 2

Essa informação de quem ganhou irá virar uma nova coluna de *df* chamada *rs*.

## Fazendo uso de função anônima com compreensão de lista

## Fazendo uso de função convencional

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Categorização de dados

Com a biblioteca pandas, é possível categorizar os dados dentro de grupos através do [pandas.cut()](https://pandas.pydata.org/docs/reference/api/pandas.cut.html).

Vamos criar uma nova coluna no dataframe com o nome 'Pontuacao_casa' usando pd.cut. A coluna 'Pontuacao_casa' armazena:

- 0-5 --> para os jogos que obtiveram pontuação da casa entre 0 e 5;
- 6-10 --> para os jogos que obtiveram pontuação da casa entre 6 e 10;
- 11-15 --> para os jogos que obtiveram pontuação da casa entre 11 e 15;
- 16-20 --> para os jogos que obtiveram pontuação da casa entre 16 e 20;
- 21-31 --> para os jogos que obtiveram pontuação da casa entre 21 e 31

A imagem a seguir ilustra como aplicamos o pandas.cut().

<img src="https://github.com/amandalemette/images/blob/e5a72329ad2131403edc0be180c55442ce1de57e/BiMaster/cut.png?raw=true"  width=700 height=300 />

In [ ]:
ranges = [-1,5,10,15,20,31]
labels = ['0-5','6-10','11-15','16-20','21-31']

Vamos Imprimir quantos jogos estão incluídos em cada grupo pertencente à Pontuacao_casa.

In [ ]:
df['Pontuacao_casa'].value_counts()

Gerar um gráfico de pizza que transmita essas informações.

Para gerar esse gráfico, vamos primeiro olhar um exemplo no site da biblioteca Matplotlib: [exemplo plot pie](https://matplotlib.org/stable/gallery/pie_and_polar_charts/pie_features.html).

In [ ]:
sizes = df['Pontuacao_casa'].value_counts()

explode = (0.0,0.5,1,1.5,2) # faz as fatias se deslocarem

fig1,ax1 = plt.subplots(figsize = (8,6)) # tamanho da figura

ax1.pie(sizes,explode,autopct = '%1.3f%%',shadow = False)

ax1.legend(df['Pontuacao_casa'].value_counts().index, # formatando a legenda, identificando quem é quem
          title = 'Home score',
          loc = 'center left', # posicao da legenda
          bbox_to_anchor = (0.5,0.2,0.5,1))  # localizacao da legenda

ax1.axis('equal') # garantir o formato de um circulo
#ax1.set_title('Resultados') # título da figura
plt.show()

Esse gráfico não ficou muito bom com a biblioteca matplotlib, vamos agora conhecer uma outra biblioteca gráfica: [PLOTLY](https://plotly.com/python/pie-charts/).

In [ ]:
import plotly.express as px

In [ ]:
df2 = pd.DataFrame(sizes).reset_index()
df2

   index  Pontuacao_casa
0    0-5           41528
1   6-10            1437
2  11-15              96
3  16-20              14
4  21-35               6

## Exercício
Faça um novo gráfico de pizza, mas dessa vez de acordo com a coluna *rs*. 
- Primeiro, use a biblioteca matplotlib
- Depois, use a plotly

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Map

Com o método *map()*, conseguimos aplicar uma função a uma dada coluna de um DataFrame. Somente podemos usar o método map() com a coluna particular de um DataFrame, não é possível aplicar o *map* para todo o DataFrame.

Para aplicar o *map* podemos fazer uso de:

- funções anônimas
- dicionários
- funções convencionais

Vamos aplicar cada uma delas no nosso estudo de caso.

Retornando ao nosso DataFrame df...

In [ ]:
df.sample(2)

Vamos aplicar map de acordo com *rs*. Se rs for igual a
- 0: empate
- 1: casa vence
- 2: convidado vence

## Dicionário

## Função anônima

## Função convencional

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Apply

O método *apply* foi feito para possibilitar a aplicação de funções ao longo de um eixo de um dataframe. O método apply() aplica a função ao longo de um eixo especificado, ele passa as colunas como um dataframe para a função personalizada.


A saída do método apply() é recebida sob a forma de um dataframe ou Series dependendo da entrada.

 A sintaxe do apply() funciona como:



```
Dataframe.apply(customFunction, axis=0)
```

Os argumentos correspondem a

- customFunction: a função a ser aplicada ao dataframe ou à série.
- axis: 0 refere-se a 'rows', e 1 refere-se a "columns"; a função deve ser aplicada em linhas ou colunas.

## apply() para aplicar uma função à coluna DataFrame

In [ ]:
import pandas as pd

In [ ]:
data = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['A','B','C'])
data

In [ ]:
def add_2(x):
    return x+2

In [ ]:
data = data.apply(add_2)
data

## apply() para aplicar uma função a uma única coluna

In [ ]:
data = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['A','B','C'])
print(data)


data['A'] = data['A'].apply(add_2)
data

Vamos aplicar a função *classifica* na coluna *rs* do nosso DataFrame *df* usando apply...

A nossa função classifica de acordo com:
- 0: empate
- 1: casa vence
- 2: convidado vence

Como podemos ver, o *apply()* pode ser usado para aplicar uma função específica a todos os elementos de todo o DataFrame ou a todos os elementos de uma coluna específica.

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Applymap

A função associada a [applymap()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.applymap.html) é aplicada a todos os elementos do DataFrame fornecido e, portanto, o método applymap() é definido apenas para DataFrames. A sua sintaxe é:


```
DataFrame.applymap(func,na_action=None)
```

Vamos ver um exemplo.

In [ ]:
dff = pd.DataFrame({
    'Col 1': [30,40,50,60],
    'Col 2': [23,35,65,45],
    'Col 3': [85,87,90,89],

},index=["A","B","C","D"])
dff

In [ ]:
dff2 = dff.applymap(lambda a: a*10)
dff2

O *applymap()* multiplica cada elemento de *dff* e armazena o resultado em *dff2*. Passamos uma função *lambda* como um argumento para a função *applymap()*, que retorna um valor multiplicando a entrada por 10. Portanto, cada elemento do DataFrame dff é escalado em 10.

Também podemos usar o loop for para iterar sobre cada elemento no DataFrame dff, mas isso torna nosso código menos legível, confuso e menos eficiente. O *applymap()* é uma abordagem alternativa que torna o código mais legível e eficiente.

Além das operações matemáticas, também podemos realizar outras operações nos elementos do DataFrame usando o *applymap()*.

In [ ]:
dff3 = dff.applymap(lambda a: str(a)+".00")
dff3

O *applymap()* anexou .00 no final de cada elemento no DataFrame dff.

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Salvamento de arquivo

Vamos retornar ao nosso DataFrame *df*.

In [ ]:
df.head()

Ele já está sem dados faltantes e contém novas colunas. Vamos agora salvar esse DataFrame em um novo arquivo do tipo:

## csv

In [ ]:
df.to_csv('base_dados_nova.csv')

Vamos checar se salvamos o nosso arquivo onde queríamos:

In [ ]:
!ls

Tudo certo!

Vamos ver como nosso arquivo foi salvo, pedindo para ler o mesmo novamente.

In [ ]:
pd.read_csv('base_dados_nova.csv')

O arquivo foi salvo do modo correto, porém ao fazer a leitura dele novamente, vemos que existe uma coluna a mais:
- Unnamed: 0	

Essa coluna corresponde à coluna de índices de *df* e, portanto, não nos agrega nenhuma nova informação, não sendo necessária. 

A forma mais indicada de evitar que tenhamos essa coluna é impedir que ela seja criada ao salvarmos o dataframe para um arquivo csv. Vamos fazer isso.

In [ ]:
df.to_csv('base_dados_nova.csv',index = False)

In [ ]:
pd.read_csv('base_dados_nova.csv')

**SUCESSO!**

<center><img src="https://github.com/amandalemette/images/blob/98b4d25f675a2488593570b6f0313a96ebf8d5c8/BiMaster/goofyhappy.jpg?raw=true"  width=150 height=300 />

## xlsx

Não precisamos sempre salvar nosso DataFrame com extensão *csv*, podemos salvá-lo como arquivo de Excel também:

In [ ]:
df.to_excel('base_dados_nova.xlsx',index = False)

In [ ]:
!ls

## Preocupando-se com espaço em disco

O formato csv é um dos mais utilizados para compartilhar tabelas de dados. Por ser um formato simples e de ampla aceitação pelos softwares, é comum ver a opção de abrir ou salvar seus dados nesse formato. O lado negativo é o espaço em disco que essa extensão de arquivo toma, sendo o tamanho proporcional ao número de linhas e colunas.

Isso acontece porque o csv geralmente converte todos os dados em texto separados por vírgula, ocupando muito espaço de armazenamento do disco.

Uma solução simples pode ser usar outros formatos mais comprimidos que ocupam bem menos espaço em disco e não fazem nenhuma diferença para o Pandas.

O formato que recomendo é o *parquet* (que é o *pickle* com compressão gzip).

In [ ]:
import pyarrow

Se a execução da célula acima der erro, rode o seguinte código antes:



```
!pip install pyarrow
```

In [ ]:
df.to_parquet('base_dados_nova.parquet',compression = 'gzip', index = False)

In [ ]:
df.to_pickle('base_dados_nova.pickle',compression = 'gzip')

In [ ]:
!ls


<center><img src="https://github.com/amandalemette/images/blob/5d7d8f802759451a4c3e6b9821a4c05f66f95f34/BiMaster/tamanho.png?raw=true"  width=500 height=300 />

Podemos ver que salvando em *parquet* reduzimos consideravelmente o espaço ocupado em disco pelo arquivo.

Agora, vamos ler o arquivo em .parquet.

In [ ]:
pd.read_parquet('base_dados_nova.parquet')

Tudo certo!!!

<img src="https://github.com/amandalemette/images/blob/08d35cced043b815b96f25c6f7d256d075079944/BiMaster/logotipo.png?raw=true"  width=1000 height=125 />

# Leitura de Arquivo de Excel com mais de uma planilha

Para ler aquivos do tipo excel, podemos usar o comando:



```
pd.read_excel('nome_arquivo.xlsx')
```

Ao executar esse comando, estamos lendo a primeira planilha do arquivo. Mas se o arquivo tiver várias planilhas preenchidas, como proceder?

Vamos tentar executar essa leitura com um arquivo de Excel que se encontra em uma página de internet:

In [ ]:
excel_web = 'https://github.com/chris1610/pbpython/raw/master/data/2018_Sales_Total_Tabs.xlsx'

In [ ]:
df = pd.read_excel(excel_web)

In [ ]:
df.head()

Na verdade, só lemos a primeira planilha, pois está definido assim no modo default de pandas. read_excel.

Vamos tentar novamente...

In [ ]:
df = pd.read_excel(excel_web,sheet_name=None)

In [ ]:
df

df não é mais um DataFrame.

In [ ]:
type(df)

df é um dicionário, onde cada nome de planilha passou a ser a chave desse dicionário e o conteúdo de cada planilha é um DataFrame que é o valor armazenado para cada chave.

In [ ]:
df.keys()

dict_keys(['Sheet1', 'Sheet2', 'Sheet3', 'Sheet4', 'Sheet5', 'Sheet6'])

Para juntar todos os DataFrames em um único, podemos fazer uso de [.concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html).

Para fazer a leitura direto para um único DataFrame, podemos fazer:

# Estudo de Caso

Faça o download da base de dados: 

- [ckdisease.csv](https://bit.ly/3Guen8J)

e identifique se essa base contém dados faltantes. 

Em caso afirmativo:

a. Substitua NaN nas colunas categóricas (identificadas como object) pela moda da coluna. 

b. Substitua NaN nas colunas numéricas pela média da coluna. 

Use o seguinte código para selecionar as colunas categóricas e numéricas:



```
cat_cols = [col for col in DataFrame.columns if DataFrame[col].dtype == 'object']
num_cols = [col for col in DataFrame.columns if DataFrame[col].dtype != 'object']
```

c. Construa um gráfico de pizza que mostre o groupo de pessoas com a doença crônica no rim e as que não estão com a doença. Essa classificação se dá pela coluna *class*:
- 0 = 'ckd' --> com doença de rim crônica (chronic kidney disease)
- 1 = 'not ckd' --> sem doença de rim crônica 

d. Transforme o gráfico do item anterior em um gráfico de barras. 

e. Verifique graficamente se a pressão sanguínea tem correlação com a idade.

In [ ]:
!ls

In [ ]:
bd = pd.read_csv('ckdisease.csv')

a. Substitua NaN nas colunas categóricas (identificadas como object) pela moda da coluna.

b. Substitua NaN nas colunas numéricas pela média da coluna.

c. Construa um gráfico de pizza que mostre o groupo de pessoas com a doença crônica no rim e as que não estão com a doença. Essa classificação se dá pela coluna class:

0 = 'ckd' --> com doença de rim crônica (chronic kidney disease)

1 = 'not ckd' --> sem doença de rim crônica

d. Transforme o gráfico do item anterior em um gráfico de barras.

e. Verifique graficamente se a pressão sanguínea tem correlação com a idade.