<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

# Professoras

 - Amanda Lemette 
	 - prof.amanda@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/amanda-lemette-brand%C3%A3o-83280918b)
   - [Youtube](https://www.youtube.com/c/AmandaLemette/featured)
   
 - Júlia Potratz
	 - prof.julia@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/julia-potratz)

- Manoela Koehler
     - prof.manoela@ica.ele.puc-rio.br
     - [Linkedin](https://www.linkedin.com/in/manoelakohler/)

     
# Material 

Repositório no GitHub: [Python_BI_Master](https://github.com/jupotratz/Python_BI_Master)

# Aula 4


- **Plano de aula:**
  - Criação e manipulação de funções:
      - Como olhar a documentação de uma função (entender como se utiliza uma função criada por outra pessoa)
      - Funções anônimas
      - Montando a sua própria biblioteca (funções simples)

  - Um pouco de gráficos. 

  - Criação e manipulação de DataFrames:
    - O que é?
      - Como montar (dicionário, lista, vetores)
      - Visualização do DataFrame
      - Acessando elementos do dataframe (loc x iloc) 
      - Ordenação + reset index
      - Reorganizar colunas 
      - Adicionar dados  
      - Cópia de DataFrames

## Funções que estão na raíz do Python

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/1778accdf4014a1814322d6ea9489bd75f376165/Imagens/func.png?raw=true"  width=400 height=150 />

Em Python, já podemos fazer uso de diversas funções que são muito úteis sem precisar importar nenhuma biblioteca, entre essas funções temos:

*   print -> imprime na tela 
*   input -> dialoga com o usuário
*   int -> transforma variáveis em números inteiros
*   float -> transforma variáveis em números reais
*   str -> transforma variáveis em strings
*   round -> arredonda números decimais
*   help -> fornece as informações sobre funções
*   type -> fornece o tipo da variável

Além das funções mencionadas, temos funções também criadas para serem aplicadas a listas, que são:

*   len -> calcula o comprimento de uma lista
*   sum -> soma os elementos de uma lista
*   prod -> produtório dos elementos de uma lista
*   max -> acha o maior elemento da lista
*   min -> acha o menor elemento da lista

Esses são apenas alguns exemplos de funções, mas existem muito mais!

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/goofy-thinking.png?raw=true"  width=100 height=205 />

Fazendo uso de algumas das funções mencionadas, desenvolva um programa que fornece:
- o número total de elementos da lista
- o somatório dos elementos da lista
- o produtório dos elementos da lista
- identifica os valores mínimo e máximo armazenados na lista 
- a média da lista
- a moda da lista 

Para a resolução dessa atividade, considere a seguinte lista:

In [4]:
lista = [100,2,3,100,3,4,5,67,92,3,523,45,12,0,94,2,3,4,5,6,2,5,46,76,10,11,100,102,34,542,523,75,43,3,2,643,22,3,1,42,10,23,45,94,2,5,78,102,103,78,96,33,41,36,15,16,10,9]

In [ ]:
lista

## Funções pertencentes a bibliotecas

Bom, provavelmente a parte mais difícil do último exercício foi o cálculo da moda, certo?

Isso porque tivemos que desenvolver um jeito de achar a moda do conjunto sem fazer uso pronto de uma função. 

Mas existem bibliotecas em Python que podemos fazer uso que economizam esse nosso tempo de desenvolvimento de código. São diversas bibliotecas disponíveis, é preciso aprender a procurá-las. 

O que sempre faço é escrever no meu buscador de internet se essa função que pretendo usar já foi criada por alguém. Na maioria das vezes, sim.

E, para a nossa felicidade, alguém já desenvolveu uma função para acharmos a moda de uma lista, vamos conhecê-la.

Essa função se chama *mode* e se encontra dentro da classe *stats* da biblioteca *scipy*. Vamos dar uma olhada em sua documentação:

[documentação da scipy.stats.mode](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mode.html)

In [38]:
from scipy import stats

In [ ]:
stats.mode(lista)

Podemos ver que a função *mode* nos forneceu uma tupla como resposta, essa tupla tem 2 elementos:

*   a moda (quem queremos saber)
*   quantas vezes a moda aparece em nosso conjunto de dados

Para recuperarmos esses valores separadamente, devemos fazer:

In [ ]:
moda,repeticoes = stats.mode(lista)
print(moda)
print(repeticoes)

Repare que as duas saídas fornecidas são listas, para recuperar os números fora da lista, fazemos:

In [ ]:
moda,repeticoes = stats.mode(lista)
print(moda[0])
print(repeticoes[0])

Existe outro modo de achar a moda de um conjunto de dados, essa segunda alternativa é por meio da biblioteca *statistics*. 

Vamos ver a documentação: [documentação de statistics](https://docs.python.org/3/library/statistics.html)

In [42]:
import statistics

In [ ]:
statistics.mode(lista)

Como resposta, ela fornece direto a moda do conjunto.

Outro modo de verificar se de fato encontramos a moda do nosso conjunto de dados é por meio de visualização gráfica.

Em Python, existem diversas bibliotecas disponíveis para você criar seu gráfico, dentre elas, as mais utilizadas em ciência de dados são:
- [matplotlib](https://matplotlib.org/stable/gallery/index)
- [seaborn](https://seaborn.pydata.org/examples/index.html)
- [plotly](https://plotly.com/python/)

Retornando ao nosso problema da moda do conjunto de dados, podemos fazer uso de um histograma. A biblioteca **matplotlib** tem a função *hist* dedicada para esse tipo de gráfico.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/604ef6aa34ada76af23467e286c31c62c2d95478/Imagens/hist.png?raw=true"  width=600 height=300 />

In [44]:
import matplotlib.pyplot as plt

**Para praticar**

Considere a lista *A* seguir. Construa um histograma com ela de tal modo que o histograma fique igual ao apresentado abaixo (use bins = 20).

In [64]:
A = [ 9,  0, 27,  4, 11, 43, 46, 30, 34, 21,  1,  5,  1, 46, 25,  5, 35,
        4, 10, 17, 16,  0, 33, 39, 12, 26, 12, 24,  3, 11, 18, 48, 32, 22,
        0, 34, 49, 49,  7, 10,  6, 32, 45, 21, 13, 16,  0, 17, 46, 17, 13,
       38,  5, 10, 48, 23,  4, 22, 43,  9, 48, 26, 11, 43,  0, 47, 15, 29,
       10, 29, 16, 32, 29, 13, 13, 49,  2,  4, 35, 49, 22, 27, 24, 12, 27,
       30,  6, 46,  5, 44, 28, 41, 39, 31, 23,  2,  2, 47, 45, 39, 32, 46,
        8, 16, 11, 33, 31,  0, 36, 27, 37,  2,  7, 45, 39, 21, 41, 47, 36,
       27, 23, 38,  4, 19,  3,  6, 44, 32, 29, 12, 35, 25, 19, 14, 45,  2,
       29, 24, 24, 38, 46, 38, 19, 17, 46, 17, 40, 29, 41, 46, 11, 18,  9,
       48, 21, 34, 29, 13, 25, 34,  6, 33, 27, 40, 49, 13, 45, 44, 39, 44,
       41, 46, 48, 32, 42,  4, 14, 18, 32,  8, 18,  8, 39, 15, 39, 43, 44,
       26, 45, 10, 14, 34, 35,  5, 31, 19, 46, 49, 34, 12, 20, 35,  0, 35,
       11, 46, 17, 30, 35,  6, 13, 43, 37, 15, 25, 45, 31, 42, 26,  2, 32,
       23,  5, 45, 16, 38, 42, 27, 30, 27, 43, 39, 44, 45,  6,  0, 48, 16,
       17, 43,  2, 36, 43,  1, 16,  4, 43, 46, 14, 25,  7, 33,  5, 12, 10,
       26,  5, 15,  1, 47,  8, 49,  3, 49, 44, 45, 36, 35, 40, 41, 45, 28,
       49, 27, 16,  9,  8,  7,  6, 38, 41, 28, 11, 42,  2, 19,  1,  7, 17,
       12, 19, 48, 39,  3, 40, 21, 24, 25, 24, 14, 28, 34, 14, 39, 49, 26,
       36, 34, 42, 46,  0, 23, 22, 22, 11, 27, 36,  1, 21, 49, 21,  2, 37,
       11, 25, 13, 31, 30, 33, 40, 32, 35, 31, 26, 41, 30, 33, 36, 17, 10,
       41, 13, 20,  5, 41, 48, 45, 49,  8, 48, 16, 32,  7, 19,  7, 10,  4,
       34, 33, 36, 33, 20, 27, 29, 37, 29, 28, 16,  4, 49, 44, 44,  4, 32,
       15, 23,  0, 49, 30,  4, 30, 47,  7, 28, 23,  7, 37, 41, 27,  2, 41,
       20, 48, 15, 49, 15,  7,  7, 37, 21, 21, 32, 40, 29, 33, 31,  9, 13,
        3, 27, 28,  8, 17, 12, 40, 40, 32, 42, 11, 44, 45, 37,  8, 11, 34,
        0,  3, 35,  4, 14, 40,  2, 49, 27, 32, 17,  9,  1, 19, 12, 30, 38,
       29, 18, 20, 25,  0, 26,  7, 27, 43, 23, 26, 20, 19, 40, 29, 26, 27,
        1, 42, 30, 25,  8, 22, 27, 40, 45, 37, 24, 34, 18, 18, 17, 22, 19,
        1,  6, 46,  8, 43, 27, 17, 15, 47, 20,  6, 43, 27,  8, 42, 40, 27,
        8, 49, 23, 19, 49, 29, 19]

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/6716f68ff7e37d56c71352b4438f6db7c9fd5599/Imagens/hist2.png?raw=true"  width=400 height=300 />

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

## Funções criadas pelo usuário

Bom, nós já vimos várias funções que existem em Python e que, para usá-las, não precisamos fazer a importação de nenhuma biblioteca. Porém, nós, como usuários, muitas vezes sentimos a necessidade de criarmos funções para facilitar nossa vida.

O Python reconhece funções pela palavra **def**. 

A sintaxe da função é:
```bash
def nome_função(variáveis de entrada): --> Não esquecer os dois pontos ao final. 
    - código aqui linha 1
    - código aqui linha 2
    - código aqui linha 3
    return (variáveis de saída)
```
Depois de você pressionar o *ENTER* ao final dos :, todo código que estiver com ao menos 4 espaços afastados do *def* fará parte da função declarada. 4 espaços do teclado equivale a 1 TAB (1 identação). 

A função, se precisar retornar variáveis para o programa principal, termina com o *return* e ao lado do return as variáveis de saída.

A função **SEMPRE** deve ser declarada antes de sua chamada no programa.

Vamos ver alguns exemplos de funções.

### Função que não retorna nada

In [1]:
def cumprimento(parte_dia):
  if parte_dia == 'manha':
    print('Bom dia!')
  elif parte_dia == 'tarde':
    print('Boa tarde!')
  else:
    print('Boa noite!')

In [ ]:
resposta = input('Diga se hoje é: [manha, tarde, noite]: ')
cumprimento(resposta)

A função *cumprimento* não retorna nenhuma variável para o programa principal. Mas toda vez que é chamada, ela printa uma frase na tela correspondente à variável de entrada que recebe.

### Função info

In [75]:
def info():
  print('******************************* Atenção *******************************\nnão é permitido consultar nenhum material durante a execução da prova,\né permitido comer e beber durante o exame e\né permitido ir ao banheiro.\n***********************************************************************')

In [76]:
info()

******************************* Atenção *******************************
não é permitido consultar nenhum material durante a execução da prova,
é permitido comer e beber durante o exame e
é permitido ir ao banheiro.
***********************************************************************

A função *info* não recebe nenhum valor como entrada e também não retorna nada, toda vez que ela é chamada, ela imprime uma mensagem na tela.

### Função menor_dif

In [77]:
def menor_dif(a, b, c):
    dif1 = abs(a - b)
    dif2 = abs(b - c)
    dif3 = abs(a - c)
    return min(dif1, dif2, dif3)

Criamos uma função chamada *menor_dif* que recebe três argumentos, *a*, *b* e *c*.

Pode-se notar que a função começou com o cabeçalho introduzido pela palavra-chave *def*. O bloco recuado de código após os dois pontos é executado quando a função é chamada.

*return* é outra palavra-chave associada exclusivamente a funções. Quando o *Python* encontra uma instrução de retorno, ele sai da função imediatamente e passa o valor do lado direito para o contexto de chamada.

Está claro o que *menor_dif()* faz? Se não tivermos certeza, podemos sempre experimentar com alguns exemplos:

In [ ]:
menor_dif(1, 10, 100)

In [ ]:
menor_dif(1, 10, 10)

In [ ]:
menor_dif(5, 6, 7)

In [ ]:
help(menor_dif)

Infelizmente o *Python* não é inteligente o suficiente para ler o meu código e transformá-lo em uma boa descrição em inglês.
No entanto, quando escrevo uma função, posso fornecer uma descrição que é chamada de docstring. Nada mais é do que a documentação da função (descrição dos argumentos, exemplos de resultados, etc).

In [82]:
def menor_dif(a, b, c):
    '''
    Retorna a menor diferença entre dois números quaisquer entre três números a, b e c.
    exemplo: 
    >>> menor_dif(1,10,100):
    9
    '''
    dif1 = abs(a - b)
    dif2 = abs(b - c)
    dif3 = abs(a - c)
    return min(dif1, dif2, dif3)

O help pode sempre ser usado:

In [84]:
import numpy as np

In [ ]:
help(np.random.randint)

Vamos praticar um pouco...

### Exercício 1

Crie uma função que recebe uma lista e fornece a sua média. 

Programe a função sem fazer uso das funções *len* e *sum*.

### Exercício 2

Crie uma função que recebe um número e fornece como resposta uma lista corresponde à tabuada (de 1 a 10) para esse número. 

Exemplo:

Se a função recebe o número 2, ela irá devolver:

```
[2,4,6,8,10,12,14,16,18,20]
```

### Exercício 3

Crie uma função que recebe uma lista e retorne duas listas, a primeira contendo todos os números pares da lista de entrada e a segunda lista contendo todos os números ímpares da lista de entrada.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

## Funções anônimas

Existe um outro modo de declarar funções em Python. Esse segundo jeito é indicado quando a sua função pode ser escrita em uma única linha. Assim, não é mais necessário você escrever *def* e *return*, o que simplica o seu código. 

Estamos falando das **funções anônimas**, que têm a seguinte estrutura:

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/62ae708bde43fe39b10add0c3e83fe54a795fe74/Imagens/funcanonima.png?raw=true"  width=500 height=60 />

Fica a critério do usuário fazer uso de funções anônimas ou não. 

Vamos entender esse tipo de declaração através de um exemplo:

Vamos declarar uma função anônima que recebe um número e retorna o mesmo multiplicado por 5, vamos chamar essa função de **multiplica5**.

A mesma função poderia ser declarada do modo convencional.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

## Método x Função

Um definição mais técnica a respeito disso é o trecho abaixo retirado da [documentação](https://docs.python.org/pt-br/3/tutorial/classes.html#:~:text=Um%20m%C3%A9todo%20%C3%A9%20uma%20fun%C3%A7%C3%A3o,objetos%20tamb%C3%A9m%20podem%20ter%20m%C3%A9todos.) da linguagem:

Um **método** é uma função que “pertence” a um objeto instância. (Em Python, o termo método não é aplicado exclusivamente a instâncias de classes definidas pelo usuário: outros tipos de objetos também podem ter métodos. Por exemplo, listas possuem os métodos append, insert, remove, sort, entre outros.

Em outras palavras:

- Um **método** é uma função que está definida dentro de uma classe, ou seja, irá pertencer a um objeto de instância. 
- Uma **função** fica fora da classe, não pertence a um objeto de instância.

Também vale lembrar que há diferença na chamada de um método e uma função. Enquanto na **função** apenas invocamos o nome da mesma, por exemplo:


```
menor_dif(a,b,c)
```

Com o **método** temos que utilizar um objeto para fazer a chamada. Observe no código abaixo o método **reverse**:

In [16]:
lista = [45,23,54,10,-9]
lista.reverse()

A tabela a seguir apresenta alguns métodos que podem ser aplicados a listas.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/179323453635bdc9653c510e71d062fd693b4445/Imagens/metodoslistas.png?raw=true"  width=500 height=300 />

Vamos considerar a lista A

In [11]:
A = [1,5,6,32,7]

para acrescentar o número 10 ao final da lista, utilizamos o método *append*.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

## Criação da sua própria biblioteca

Para que você consiga importar uma função criada por você em outro notebook, primeiro precisamos fazer a montagem do Drive, possibilitando o acesso aos arquivos do seu Google Drive pessoal pelo Google Colaboratory.

Se você não lembra como executar esse procedimento, sugiro retornar à *aula 01* onde tem uma explicação detalhada sobre o que fazer.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [6]:
# Importar a biblioteca os
import os

# Utilizando a função .chdir()
os.chdir('drive/MyDrive/Colab Notebooks')

In [ ]:
!ls

Pronto! Agora conseguimos acessar qualquer documento armazenado na sua pasta Colab Notebooks por aqui.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/24d2fc74cc80365cd44b357a84189b964874f115/Imagens/goofyhappy.jpg?raw=true"  width=250 height=400 />

Em um novo notebook a função **menor_dif** foi copiada e depois esse notebook foi exportado como arquivo.py fazendo o seguinte procedimento:
- File --> Download --> Download .py

Esse notebook foi salvo com o nome *MenorDif*.

Agora, faça o upload desse arquivo (MenorDif.py) na sua pasta Colab Notebooks.

Depois, rode a célula abaixo, dentre os arquivos presentes na sua pasta deve estar o nome *MenorDif.py*.

In [ ]:
!ls

Algumas observações precisam ser feitas nesse momento.

1. No notebook, foi escrito o nome do arquivo como MenorDif.
2. Na hora de fazer o download desse arquivo, o arquivo baixado estava com o nome menordif.py.
3. Ao rodar a célula com !ls, apareceu o nome MenorDif.ipynb.

Está tudo certo, o que acontece é que o arquivo se chama mesmo menordif.py, então para você usar a função ou as funções armazenadas dentro dele, você precisa importar como: 
- import menordif

Vamos testar?

Se o seu arquivo tiver mais de uma função e se for do seu interesse utilizar somente uma, você pode importar somente essa função pelo comando:
- from menordif import funcao



---



---

**Vamos praticar**

Acrescente a função desenvolvida por você no exercício 3 no arquivo menordif.py e importe essa função, chamando-a aqui.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

## Pandas

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/6c7b517ad69cdb9cba035c01bca7aa310809cfdf/Imagens/pandas.jpg?raw=true"  width=400 height=300 />

O pandas é uma biblioteca de código aberto, licenciada por BSD ([Berkeley Software Distribution](https://en.wikipedia.org/wiki/Berkeley_Software_Distribution)), que fornece estruturas de dados de alto desempenho e fáceis de usar e ferramentas de análise de dados para a linguagem de programação Python.

O Pandas adota parte significativa do estilo idiomático do NumPy para o processamento baseado em arrays. Embora tenha muitas funções e estruturas parecidas o Pandas foi projetado para trabalhar com dados tabulares e heterogêneos. 

Abaixo segue o link da documentação da biblioteca Pandas.


[Documentação da biblioteca Pandas](https://pandas.pydata.org/).

### Criando um DataFrame do zero

#### A partir de um dicionário

Uma forma de criar um DataFrame é através de um dicionário.

Primeiro, criamos um dicionário e, depois, o transformamos em um DataFrame. 

Vamos ver como esse procedimento funciona.



1.   Vamos criar o dicionário Registro como mostrado abaixo.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/732d6d080f666dcbff6314727bf9c5a769d825da/Imagens/dic2.png?raw=true"  width=800 height=110 />

Em Python, podemos transformar um dicionário em um dataframe, fazendo simplesmente:

```
import pandas 
df = pandas.DataFrame(data)
```

No código anterior, a biblioteca pandas é importada na primeira linha. 

Geralmente, utiliza-se a abreviação *pd* para pandas. Mas qualquer abreviação pode ser utilizada. 

```
import pandas as pd
```

Se *pd* for utlizada, toda vez que você for utlizar alguma função da biblioteca pandas, deverá escrever pd.nome_da_função.


2.   Como segundo passo, devemos transformar o dicionário *Registro* no DataFrame *rg*.

Se nenhum erro apareceu, você obteve um DataFrame igual ao mostrado a seguir, correto?

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/dce05ba4bbe74fb2ce97b80e1c9ddb01464891de/Imagens/rg.png?raw=true"  width=350 height=200 />

#### A partir de listas

**Uma única lista:**

Esse é o caso mais básico que cria um Dataframe a partir de uma única lista. Passamos simplesmente a lista para *pd.DataFrame()* e o resultado é uma única coluna Dataframe.

In [24]:
lst = ["Renata","Pedro","Paulo"]
df = pd.DataFrame(lst, columns = ['Nome'])

**Mais de uma lista:**

Se quisermos já criar várias colunas no DataFrame, será necessário utilizar mais de uma lista. 

Nesse caso, precisamos utilizar a função [**zip()**](https://realpython.com/python-zip-function/). 

A função zip() devolve um objecto do tipo zip que emparelha os elementos na primeira posição juntos, na segunda posição juntos, e assim por diante. Aqui cada lista funciona como uma coluna diferente.

In [26]:
lst1 = ["Renata","Pedro","Paulo"]
lst2 = [12,15,14]
df = pd.DataFrame(list(zip(lst1,lst2)), columns = ['Nome','Idade'])

**A partir de uma lista multi dimensional:**

Uma lista que contém outra lista é chamada lista multidimensional. 

Neste caso, cada lista, que está aninhada dentro da lista principal, funciona como uma fila para o quadro de dados. 

O exemplo seguinte mostrará como:

In [28]:
lst = [["Renata",12,"informática"],["Pedro",15,"inglês"]]

In [30]:
df = pd.DataFrame(lst, columns = ['Nome','Idade','Curso'])

#### A partir de um vetor

Passamos o array NumPy para o método pandas.DataFrame() para gerar a DataFrame a partir do array NumPy.

Vamos ver como se faz esse procedimento através de um exemplo.

In [32]:
import numpy as np

In [ ]:
vet = np.random.randint(4,20,5)
vet

In [43]:
df = pd.DataFrame(vet)

Como podemos ver, foi atribuído o nome 0 para a coluna do DataFrame, para evitar isso, podemos fazer:



```
pd.DataFrame(nome_vetor, columns = [nomes_colunas])
```

é muito importante não esquecer de colocar o nome da coluna entre colchetes.

Se quisermos também fornecer os índices do DataFrame, podemos fazer:



```
pd.DataFrame(nome_vetor, columns = [nomes_colunas], index = [índices])
```

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

### Visualização do DataFrame

Para essa seção, vamos considerar o seguinte DataFrame:

In [ ]:
lst = [["Renata",12,"informática"],["Pedro",15,"inglês"],['João',13,'matemática'],['Aline',10,'artes'],
       ['Vivian',12,'inglês'],['Arthur',14,'artes'],['Henrique',13,'matemática'],['Ana',12,'artes'],
       ['Paulo',15,'informática'],['Leandro',11,'informática'],['Lucio',12,'inglês'],['Neusa',10,'artes']]
df = pd.DataFrame(lst, columns = ['Nome','Idade','Curso'])
df

Vamos visualizar somente as 5 primeiras linhas do DataFrame:

Agora, vamos visualizar as 5 últimas linhas do DataFrame:

- A visualização do DataFrame é composta pelos seguintes elementos:
```
    1. Index
    2. Elemento do Index
    3. Colunas
    4. Nome da coluna (pode ter espaço, acento e etc, mas nome curto, simples, e representativo facilita o código)
    5. '...'
    6. Células (Dados)
```

Apesar da convenção no Python utilizar o <code>.head()</code> ou o <code>.tail()</code> para olhar um DataFrame novo, é possível utilizar o <code>.sample(5)</code>, que seleciona 5 linhas aleatórias do seu DataFrame. 

Se você executar o comando algumas vezes vai obter resultados diferentes a cada iteração.

#### Slicing

O nome dessa operação de colocar algo entre colchetes é **slicing**, e isso como convenção geral é uma forma de selecionar um subconjunto de dados.

[20:30] vai selecionar exatamente 10 elementos (30 - 20). O número da direita menos o número da esquerda é sempre o total de elementos que serão selecionados, e isso é uma convenção no Python.

O número 20 é selecionado por ser um intervalo fechado na esquerda, e o número 30 não é selecionado por ser um intervalo aberto na direita. O que é outra convenção do Python.

Vamos selecionar as linhas 4 a 10 (incluindo o 10) do DataFrame *df*:

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

### Acessando elementos de um DataFrame

Vamos retornar às atenções ao DataFrame *rg*.

In [ ]:
rg

Como imprimir Ana do DataFrame *rg*?

E usando o iloc?

E o loc?

Nesse caso, o *loc* e o *iloc* atuam do mesmo modo, pois os índices de *rg* seguem a numeração default do Python. Vamos modificar isso.

Vamos atualizar os índices de *rg* para:



```
novoidx = ['a','b','c','d']
```

In [59]:
novoidx = ['a','b','c','d']
novoidx

['a', 'b', 'c', 'd']

In [61]:
rg.index = novoidx

In [62]:
rg

   Cliente  Idade          Cidade
a      Ana     19  Rio de Janeiro
b  Ronaldo     78       São Paulo
c   Mateus     49        Salvador
d    Luiza     34  Belo Horizonte

Vamos novamente usar o loc e o iloc para imprimir Ana.

In [ ]:
rg.iloc[0][0]

In [ ]:
rg.loc[0][0]

O loc deu errado, pois o argumento dele tem que ser o próprio índice e não a sua posição.

In [ ]:
rg.loc['a'][0]

Para mais informações sobre o uso correto do **loc** e do **iloc** recomendo assistir ao vídeo:
[LOC versus ILOC](https://youtu.be/HljNIV_tVY0)

#### Selecionando colunas


Para selecionarmos colunas no pandas, basta dizermos o nome do DataFrame seguido por colchetes com o nome da coluna dentro:

- Nome do Dataframe: <code>df</code>
- Colchetes com a coluna dentro: <code>['Idade']</code>
- Comando completo: <code>df['Idade']</code>

Vamos selecionar a coluna Cliente:

Agora, utilize o loc e o iloc para fazer a mesma seleção.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

### Ordenação de DataFrame

Para fazer a ordenação de DataFrames utilizando a função [sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html).

Olhando o nosso DataFrame *df*, podemos ordená-lo em ordem alfabética de acordo com a coluna Nome. Vamos fazer?

In [ ]:
df

In [ ]:
df.sort_values('Nome')

A ordenação foi bem sucedida, no entanto se olharmos para a coluna dos índices, vemos que eles ficaram embaralhados. Para rearrumar os índices, utilizamos a função [reset_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html).

O problema inicial de termos um DataFrame com a coluna de índices desordenada foi solucionado. Contudo, a coluna antiga de índices passou a ser uma nova coluna do DataFrame que foi nomeada como *index*.

Essa coluna para nós não acrescenta nenhuma informação útil e, por esse motivo, é interessante que ela seja eliminada. 

Uma solução bem fácil é dizer para o Python eliminar essa coluna quando faz a atualização dos índices do DataFrame. Isso pode ser feito como:



```
dataframe.reset_index(drop = True)
```

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

### Reorganização das colunas

Existem várias formas de reorganizar as colunas de um DataFrame, irei apresentar aqui uma estratégia que faz uso do *iloc* e do *loc*:

- pelo iloc:

```
Nome_DataFrame.iloc[:,[número das posições dos índices das colunas na ordem desejada ] ]
```

- pelo loc:

```
Nome_DataFrame.loc[:,[nome dos índices das colunas na ordem desejada ] ]
```
exemplo:

- pelo iloc:

```
Nome_DataFrame.iloc[:,[0,1,2] ]
```
assim, o dataframe fica com as colunas ordenadas conforme foi criado (modo default).

**ILOC**

In [81]:
rg

   Cliente  Idade          Cidade
a      Ana     19  Rio de Janeiro
b  Ronaldo     78       São Paulo
c   Mateus     49        Salvador
d    Luiza     34  Belo Horizonte

Vamos estabelecer a seguinte ordem das colunas:


1.   Cidade
2.   Cliente
3.   Idade

**LOC**

Vamos fazer o mesmo com o loc:

**Para praticar**

Como podemos ordenar as colunas em ordem alfabética? Resolva esse desafio.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

### Adição de nova linha no DataFrame

O Pandas é projetado para carregar um dataframe totalmente preenchido. Podemos adicionar linha por linha ao Dataframe, utilizando várias abordagens como:
- .loc, 
- dicionário, 
- pandas.concat() ou 
- DataFrame.append().

Nessa aula, apresentarei a abordagem pelo LOC por considerá-la a mais simples:

O loc[index] toma a nova lista como uma nova linha e a adiciona ao dado index de pandas.Dataframe. Ele funciona como:



```
Nome_Dataframe.loc[nome_index] = [novos dados como lista]
```

Vamos adicionar ao DataFrame *rg* a linha:



```
[Geraldo, 43, Salvador]
```

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Imagens/logotipo.png?raw=true"  width=1000 height=125 />

### Adição de nova coluna no DataFrame

A adição de uma nova coluna no DataFrame se faz de modo bem direto, como:



```
Nome_DataFrame[Nome_nova_coluna] = [dados na forma de lista]
```

Vamos adicionar a coluna chamada Carro no dataframe *rg*:

In [97]:
rg

   Cliente  Idade          Cidade
a      Ana     19  Rio de Janeiro
b  Ronaldo     78       São Paulo
c   Mateus     49        Salvador
d    Luiza     34  Belo Horizonte
e  Geraldo     43        Salvador

In [98]:
nova_col = ['Ford','Uno','Não tem','Fiat','Não tem']