<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

# Professoras

 - Amanda Lemette 
	 - prof.amanda@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/amanda-lemette-brand%C3%A3o-83280918b)
   - [Youtube](https://www.youtube.com/c/AmandaLemette/featured)
   
 - Júlia Potratz
	 - prof.julia@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/julia-potratz)
     
# Material 

Repositório no GitHub: [Python_BI_Master](https://github.com/jupotratz/Python_BI_Master)


# Talk 8

Esse talk será dado no dia 13/11/2021

- **Plano de aula:**
	- Dataframes
         - Uso da biblioteca Pandas
         - Declaração de Dataframes
         - Manipulação de Dataframes
         - Exercícios práticos      


https://www.kaggle.com/joaoavf/introducao-a-analise-de-dados-python-e-pandas

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

# Pandas

O pandas é uma biblioteca de código aberto, licenciada por BSD, que fornece estruturas de dados de alto desempenho e fáceis de usar e ferramentas de análise de dados para a linguagem de programação Python.

O Pandas adota parte significativa do estilo idiomático do NumPy para o processamento baseado em arrays. Embora tenha muitas funções e estruturas parecidas o Pandas foi projetado para trabalhar com dados tabulares e heterogêneos. 

Abaixo segue links da documentação das bibliotecas já estudadas e da biblioteca Pandas.


[Documentação da biblioteca Pandas](https://pandas.pydata.org/)

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

# Estudo de caso Uber 

Sobre do conjunto de dados Uber

Este conjunto de dados vem da inicialização da mobilidade que permite a qualquer usuário reservar uma viagem de qualquer ponto A a qualquer ponto B dentro da cidade usando um smartphone. O valor da viagem é calculado no momento da solicitação automaticamente pelo app, considerando distância, tempo estimado de viagem e disponibilidade atual do carro (saldo demanda / oferta).

Terminada a viagem, cobramos o cartão de crédito do passageiro e transferimos X% desse valor para a conta do motorista. Finalmente, antes que os passageiros sejam pegos, a viagem pode ser cancelada pelo motorista ou pelo passageiro.

A base de dados pode ser encontrada [aqui](https://www.kaggle.com/marcusrb/uber-peru-dataset). Além disso, conta com os seguintes argumentos:

- **journey_id**: id da corrida (id único para cada corrida realizada)
- **user_id**: id do usuário (id único para cada usuário)
- **driver_id**: id do motorista (id único para cada motorista)
- **taxi_id**: id fiscal único
- **icon**:
- **start_type**: tipo inicial de corrida *o mais rápido possível*, *reservado* ou *atrasado*.
- **start_at**: início da corrida (time)
- **start_lat**: latitude de início da corrida
- **start_lon**: longitude de início da corrida
- **end_at**: fim da corrida (time)
- **end_lat**: latitude de término da corrida 
- **end_lon**: longitude de término da corrida
- **end_state**: estado final
- **driver_start_lat**: latitude de início do motorista
- **driver_start_lon**: longitude de início do motorista
- **arrived_at**: Tempo de chegada 
- **currency**: Tipo de moeda
- **price**: Preço da corrida
- **price_distance**: Preço por distância
- **price_duration**: Preço por duração 
- **distance**: Distância da corrida
- **duration**: Dutação da corrida
- **cost**: Custo do motorista
- **cost_distance**: Custo por distância 
- **cost_duration**: Custo por duração 
- **source**: Tipo de fonte de solicitação da corrida (Android, iPhone, ...)
- **driver_score**: Pontuação do motorista
- **rider_score**: Pontuação do passageiro


O objetivo desse estudo de caso é realizar uma análise descritiva dessa base de dados. 

- O quantos? 
    - Veículos 
    - Passageiros 
    - Motoristas
    
- O quando? 
    - Viagens 
    - Preço 
    - Custo por período de tempo
    - Duração das viagens
- O quê? 
    - Reservas 
    - O mais rápido  possível
    - Tipo de veículo
- Onde? 
    - Mapa de origem
    - Melhores origens 
- Quem? 
    - Piores passageiros 
    - Melhores motoristas 
- Qualquer pergunta que você considere interessante...

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

## Instalando o pacote Pandas
    
* **pip isntall pandas** (instala pelo próprio jupyter ou pelo prompt de comando)
* **conda install pandas** (instala pelo próprio jupyter ou pelo prompt de comando)
* **instalação pelo Anaconda**

Observação: quando se instala um pacote com o jupyter aberto deve-se acrescentar uma exclamação (!) antes do comando dentro de uma célula do tipo **code** e executar a mesma

In [ ]:
#!pip install pandas
#!conda install pandas

## Preparando o ambiente

Assim como na bibliotec Numpy, a biblioteca Pandas também possui uma convenção de importação que é a sigla <code>pd</code>.

In [ ]:
import pandas as pd
import numpy as np

## Primeiro contato com os dados

- Vamos fazer o download dos dados iniciamente diretamente do *kaggle*. Para entender melhor como realizar esse procedimento vocês podem revisitar o material do [Talk 1](https://github.com/jupotratz/Python_BI_Master/blob/main/Talks/Turmas%202020-2021/Talk_1.ipynb)

- A base de dados utilizada conta com informações de viagens da Uber no Peru em 2010.

In [ ]:
!pip install kaggle


#### Enviar o arquivo kaggle.json

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"potratzjulia","key":"4ecaf2434eb89f31e1118f1d3f541bf5"}'}

#### Antes de importar o dataset nós iremos provisionar o local de armazenamento

In [ ]:
!mkdir -p ~/.kaggle/
!cp kaggle.json ~/.kaggle/

#### Alterar a permissão para evitar o aviso durante a partida da ferramenta Kaggle

##### This permissions change avoids a warning on Kaggle tool startup.

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

#### Copiar o endereço da API para o download do dataset

In [ ]:
!kaggle datasets download -d marcusrb/uber-peru-dataset

#### Descompactar o arquivo baixado

In [ ]:
!unzip \*.zip  && rm *.zip

#### Utilizar a biblioteca pandas para ler a  base de dados baixada

In [ ]:
!ls

kaggle.json  sample_data  uber_peru_2010.csv

In [ ]:
df = pd.read_csv("uber_peru_2010.csv")

### Vizualização de dados

- 5 primeiras linhas da tabela com a função <code>.head()</code>

In [ ]:
df.head()

Reparem que a planilha ficou estranha. Isso aconteceu devido ao separador utilizado no arquivo que é <code>;</code>. Coo o separador default utilizado na função <code>pd.read_csv()</code> é a <code>,</code> teremos que definir um novo separador. Para isso, basta passar um parâmetro <code>sep=';'</code> como argumento da função <code>pd.read_csv(PathFile, sep=';')</code>

In [ ]:
df = pd.read_csv("uber_peru_2010.csv", sep=';')

In [ ]:
df.head()

- 5 ultimas linhas da tabela com a função <code>.tail()</code>

In [ ]:
df.tail()

- A visualização do DataFrame acima é composta pelos seguintes elementos:
```
    1. Index
    2. Elemento do Index
    3. Colunas
    4. Nome da coluna (pode ter espaço, acento e etc, mas nome curto, simples, e representativo facilita o código)
    5. '...'
    6. Células (Dados)
    7. NaNs
```

Apesar da convenção no Python ser utilizar o <code>.head()</code> ou o <code>.tail()</code> para olhar um DataFrame novo, algo muito mais inteligente de se fazer para ter uma ideia representativa do DataFrame é utilizar o <code>.sample(5)</code>, que seleciona 5 linhas aleatórias do seu DataFrame. Se você executar o comando algumas vezes vai obter resultados diferentes a cada iteração.

In [ ]:
df.sample(5)

### Melhorando a visualização da tabela

Um truque para visualizar melhor os dados é invertendo as linhas pelas colunas (matrix transposta), para isso basta colocar um <code>.T</code> depois do nosso comando que gera uma visualização de DataFrame.

### Encadeamento de funcionalidades

Podemos juntar diversos comando na mesma linha, isto é, logo após o <code>df.sample(5)</code>, pode usar o <code>.T</code>, e essas funcionalidades irão funcionar em cascata e de forma sequêncial, primeiro o <code>df.sample(5)</code>, e depois o <code>.T</code>

In [ ]:
df.sample(5).T

### Slicing no Pandas

O nome dessa operação de colocar algo entre colchetes é **slicing**, e isso como convenção geral é uma forma de selecionar um subconjunto de dados.

[20:30] vai selecionar exatamente 10 elementos (30 - 20). O número da direita menos o número da esquerda é sempre o total de elementos que serão selecionados, e isso é uma convenção no Python.

O número 20 é selecionado por ser um intervalo fechado na esquerda, e o número 30 não é selecionado por ser um intervalo aberto na direita. O que é outra convenção do Python.

In [ ]:
df[20:30]

### Selecionando colunas


Para selecionarmos colunas no pandas, basta dizermos o nome do DataFrame seguido por colchetes com o nome da coluna dentro:

- Nome do Dataframe: <code>igm</code>
- Colchetes com a coluna dentro: <code>['user_id']</code>
- Comando completo: <code>igm['user_id']</code>

In [ ]:
df['user_id']

In [ ]:
df.iloc[:,1] # acessa a coluna na posicao 1

In [ ]:
df.loc[:,'user_id'] # acessa a coluna baseado no seu label

In [ ]:
df[df.columns[1]]

### Selecionando Múltiplas Colunas

Podemos selecionar multiplas colunas com o comando <code>igm[['municipio', 'indice_governanca']]</code>

In [ ]:
df[['start_at',	'start_lat',	'start_lon',	'end_at']].head()

In [ ]:
df.iloc[:,[6,7,8,9]].head()

## Exercícios: Seleções Básicas

- Selecionar as 10 primeiras linhas mostrando as colunas duration, cost e cost_distance.

- Selecionar as linhas 15 a 24 e mostrar somente os valores da coluna duration.

## Fazendo Operações de Agregamento:

- Vamos contar quantos a frequência de dispostivos (iPhone, Android, web, iPad, Wap) que solicitam as viagens. Para isso podemos selecionar a coluna <code>source</code> e aplicar o método <code>value_counts()</code>:

In [ ]:
df['source'].value_counts()

## Plotando Nosso Primeiro Gráfico

Para garantir que nossos gráficos vão ser plotados em todas as versões do  <code>Jupyter Notebook</code> precisamos rodar o comando abaixo:

In [ ]:
%matplotlib inline

Com bastante facilidade podemos plotar um gráfico com os valores acima, basta colocar <code>.plot.bar()</code> na sequência.

In [ ]:
df['source'].value_counts().plot.bar()

Vamos reproduzir esse gráfico usando o gráfico de barras da biblioteca matplotlib.

In [3]:
import matplotlib.pyplot as plt

## Operações de Agregamento Numéricas

Vamos criar uma variável chamada <code>aux_col</code> para guarda a nossa Series relativa a coluna <code>price_distance</code>.

In [ ]:
aux_col = df['price_distance']

Vamos contar a quantidade de elementos em <code>price_distance</code>

In [ ]:
aux_col

In [ ]:
aux_col.count()

Note que o <code>.count()</code> não contabiliza valores em branco, se quisermos ver os valores em branco temos que usar o atributo <code>.size</code>, que não tem paranteses.

In [ ]:
aux_col.size



Uma análise importante para iniciar qualquer análise de dados é a verificação de valores nulos na base de dados. Para verificarmos quais são os valores nulos podemos usar o <code>.isnull()</code>, que nos retornar uma Series com valores <code>True</code> ou <code>False</code>.

In [ ]:
aux_col.isnull()

Uma forma de melhor utilizarmos essa informação é contabilizando o total de valores em branco, note que <code>True</code> tem valor <code>1</code> e <code>False</code> tem valor <code>0</code>, portanto se somarmos todos os elementos, teremos o total de valores em branco.

In [ ]:
aux_col.isnull().sum()

Podemos remover esses valores em branco com um simples comando, o <code>dropna()</code>.

In [ ]:
aux_col.dropna()

Ele retornou os valores, e podemos ver que não tem nenhum valor em branco, mas vamos verificar de fato para ver se mudamos os nossos valores:

In [ ]:
aux_col.isnull().sum()

Não mudou, por que isso aconteceu? Uma série de funções no pandas não alteram o objeto em questão, porque muitas vezes estamos fazendo transformações temporárias para gerar uma visualização ou análise, para mudar o objeto temos que passar um parâmetro a mais que é o <code>inplace=True</code>.

In [ ]:
aux_col.dropna(inplace=True)
#aux_col = aux_col.dropna()

Vamos verificar novamente se temos valores em branco no nosso conjunto de dados:

In [ ]:
aux_col.isnull().sum()

- Selecionando o valor **mínimo** da caluna <code>price_distance</code>.

In [ ]:
aux_col.min()

- Selecionando o valor **máximo** da caluna <code>price_distance</code>.

In [ ]:
aux_col.max()

- Verificando a **média** dos valores da coluna <code>price_distance</code>.

In [ ]:
aux_col.mean()

- Verificando o **desvio padrão** dos valores da coluna <code>price_distance</code>.

In [ ]:
aux_col.std()

## Tendo uma visão geral da base de dados

Um comando muito útil para avaliar um Dataframe é o <code>.describe()</code>, que irá calcular os quartis, valores máximo, mínimo, a média e o desvio padrão. Por padrão esse método é aplcado somente para valores numéricos.

In [ ]:
df.describe()

## Fazendo Filtros

Tem alguns jeitos de selecionar subconjuntos, podemos escolher todas as corridas com o status **rider cancel** utilizando o comando abaixo:

 ### Indexação booleana

- Vamos selecionar todos os registros da base de dados que sigam os seguintes critérios:
  - <code>end_state = 'rider cancel'</code>

In [ ]:
# Indexação booleana (igual a que tinhamos com os arrays)

df[df['end_state']=='rider cancel'].head()

- Vamos limitar ainda mais a nossa seleção. Vamos selecionar todos os registros da base de dados que sigam os seguintes critérios:
  - <code>end_state = 'rider cancel'</code> 
  - <code>source = 'Android'</code>

In [ ]:
df[(df['end_state']=='rider cancel') & (df['source']=='Android')].head()

 ### Query

 Também podemos filtrar a base de dados por meio do método <code>.query()</code>

 Observação: As queries em dataframes se assemelham com o que conhecemos das queries feitas em bancos de dados SQL.

- Vamos selecionar todos os registros da base de dados que sigam os seguintes critérios:
  - <code>end_state = 'rider cancel'</code>

In [ ]:
df.query('end_state=="rider cancel"')

- Vamos limitar ainda mais a nossa seleção. Vamos selecionar todos os registros da base de dados que sigam os seguintes critérios:
  - <code>end_state = 'rider cancel'</code> 
  - <code>source = 'Android'</code>

In [ ]:
df.query('end_state=="rider cancel" & source=="Android"')

- **Algumas observações importantes**

  - Reparem que a query foi feita por meio de uma string onde passamos os nomes das colunas e os valores correspondentes. 
  - Para colocar uma string dentro da outra reparem na utilização de dois tipos de string distintos. A sting da pesquisa utilizando aspas simples e o valor específico da coluna entre aspas duplas.

## Avaliando o tamanho dos DataFrames e Series

Para sabermos o tamanho de um DataFrame usamos o comando <code>.shape</code>

In [ ]:
df.shape

## Visualizando Categorias

É bastante comum na ciência de dados se classificar váriaveis em:

1. Categóricas (baixa variabilidade)
2. Contínuas (grande variabilidade)

Uma forma muito boa de entender as suas variáveis categóricas é utilizando o comando <code>.nunique()</code>, ele irá te mostrar quantos valores únicos existem para cada coluna.

In [ ]:
df.nunique()

Basicamente as três variáveis categóricas com pouca variabilidade que temos são: *source*, *driver_score*, *rider_score*, *end_state*, *start_type* e *icon*.


Vamos trabalhar com as avaliações dos motoristas e dos usuários. Vamos criar uma nova coluna seguindo os seguintes critérios.

  - **nan**: Não avaliado
  - **1**: Muito ruim
  - **2**: Ruim
  - **3**: Regular
  - **4**: Bom 
  - **5**: Muito bom

Vamos criar duas novas colunas <code>driver_class</code> e <code>rider_class</code> com as classificações segundo os critérios apresentados anteriormente. Para isso, vamos entender como criar novas colunas. Basta passar como index o novo nome da coluna e atribuir um valor a essa coluna. 

Vamos criar uma coluna <code>aux</code> para testar e atribuir o valor 0 a todas as linhas dessa oluna nova.

In [ ]:
df['aux'] = 0
df.head()

- Reparem que o valor 0 foi atribuido a todos os registros da base de dados.

Porém, o mais interessante é que podemos atribuir valores com base em informações decorrentes de outras colunas ou de operações matemáticas e/ou operacionais.

Vamos então categorizar com base as classes informadas anteriormente.

Antes vamos verificar quais valores existem nas colunas de interesse utilizando o método <code>.unique()</code>.

In [ ]:
df['driver_score'].unique()

In [ ]:
df['rider_score'].unique()

- Reparem que temos valores do tipo **NaN** presentes nessa coluna. Para categorizar vamos transformar esses valores **NaN** em 0 utilizando o método <code>.fillna(val)</code>. Sendo val o valor a ser substituído.

In [ ]:
df['rider_score'] = df['rider_score'].fillna(0)

In [ ]:
df['driver_score'] = df['driver_score'].fillna(0)

- Aplicando a função <code>.unique()</code> novamente.

In [ ]:
df['driver_score'].unique()

In [ ]:
df['rider_score'].unique()

- Vamos verificar agora como podemos criar as nossas novas colunas com as classificações categóricas utilizando a função <code>cut()</code> da bilbioteca pandas. Primeiramente teremos que criar os nossos ranges e os labels respectivos.

O pd.cut classifica df['rider_score'] e df['driver_score'] conforme ranges, fornecendo como saída as labels.

In [ ]:
labels = ['Não avaliado','Muito Ruim','Ruim','Regular','Bom','Muito Bom']
bins = [-1,0,1,2,3,4,5]

In [ ]:
df['driver_class'] = pd.cut(x=df['driver_score'], bins=bins, labels=labels)

In [ ]:
df['rider_class'] = pd.cut(x=df['rider_score'], bins=bins, labels=labels)

- A lista de ranges teve que começar em -1 e não em zero, pois o limite inferior do intervalo não faz parte dele, assim ]-1,0] significa que vai pegar tudo que está entre -1 e 0, inclusive o 0.

In [ ]:
df.head(10)[['rider_score','driver_score','rider_class','driver_class','aux']].T

## Deletando colunas
A coluna <code>aux</code> é dispensável dentro da nossa base de dados, foi criada apenas para avaliar uma operação possível, então podemos deletá-la. E para isso podemos utilizar o método <code>.drop()</code>.

In [ ]:
df.drop('aux',axis=1)

Reparem que a coluna <code>aux</code> foi deletada. Porém vamos avaliar as 5 primeiras linhas do nosso dataframe novamente.

In [ ]:
df.head()

Podemos reparar que a coluna <code>aux</code> continua existindo dentro da nossa base de dados. Podemos adotar duas estratégias para tornar essa transformação permanente:     

1. Sobrescrever a variável
  <code>df = df.drop('aux',axis=1)</code>
2. Acrescentar um parâmetro auxiliar dentro do método <code>.drop()</code>
  <code>df.drop('aux', axis=1, inplace=True)</code>

- Ambas as operações vão devolver o mesmo resultado como resposta.

In [ ]:
df = df.drop('aux', axis=1)

In [ ]:
df.head()

In [ ]:
# Criando novamente a coluna aux, para usar o inplace=True
df['aux'] = 0 
df.head(2)

In [ ]:
df.drop('aux', axis=1, inplace=True)

In [ ]:
df.head()